
.container_all_homepage_content {
    position: absolute;
    height: 93vh;
    width: 100%;
    min-width: 550px;
    overflow-x: hidden;
    overflow-y: hidden;

}

/* hero */

.container_heading {
    padding: 80px 0px;
}

.heading_app_title {
    width: 85%;
    max-width: 900px;
    animation: slideinleft 1s ease-in;
}

.heading_app_subtitle {
    width: 70%;
    max-width: 700px;
    margin: 10px auto 0px;
    display: flex;
    animation: slideinright 1s ease-in;

}

.container_hero {
    text-align: center;
    margin-top: 2rem;
}

.heading_app_subheading {
    margin-bottom: 2.5rem;
}

.heading_greeting {
    text-align: center;
    margin: 3rem;
    font-size: 1.5rem;
    text-shadow: var(--bxsh-home-text)
}

/* end hero */



.heading_home_latest_posts {
    margin-top: 10px;
    text-align: center;
    text-shadow: var(--bxsh-home-text)

}

/* latest posts container */


.container_home_latest_posts_outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    max-width: 70%;
    max-height: 500px;
    min-width: 550px;
    margin: auto auto 150px auto;
    
}

.container_home_latest_posts_inner {
    padding: 15px;
    border-radius: 10px;
    width: 80%;
    box-shadow: var(--bxsh-home-latestposts);

}

/* end latest posts container */


/* johnny button  */

.container_homepage_johnny_button {
    position: fixed;
    bottom: 60px;
    left: 60px;
    border: var(--border-2-thick);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--bxsh-message-sender);
    background: var(--bg-johnny-button-home-container);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    animation: fadein 3s ease-in;
}

.container_homepage_johnny_button_text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.text_homepage_johnny_button_1 {
    font-weight: bold;
    text-shadow: var(--txsh-johnny-button);
}

.container_homepage_johnny_button_smaller {
    display: none;
    justify-content: center;
    text-align: center;
    min-width: 240px;
}

/* end johnny button  */



/* media queries */


@media screen and (max-width: 2420px) and (max-height: 1350px) {
    .container_all_homepage_content {
        overflow-y: auto;
    }
  }

@media screen and (max-width: 1860px) {
   .container_home_latest_posts_outer {
    margin-bottom: 175px;
   }
  }

@media screen and (max-width: 1675px) {
   .container_home_latest_posts_outer {
    margin-bottom: 200px;
   }
  }

@media screen and (max-width: 1500px) {
   .container_homepage_johnny_button {
    position: static;
    width: 50%;
    margin: 20px auto 20px auto;
    animation: none;
   }

   .container_homepage_johnny_button_text {
    flex-direction: row;
    gap: 5px;
    margin-bottom: 10px;
    
   }
  }

@media screen and (max-width: 1125px) {
    .container_homepage_johnny_button {
        display: none;
    }

    .container_homepage_johnny_button_smaller {
        display: flex;
        
    }
  }


  @media screen and (max-width: 550px) {
    .container_all_homepage_content {
        position: absolute;
        min-width: 0;
        width: 100%;
        max-width: none;
    }

    .container_home_latest_posts_outer {
        min-width: 0;
        width: 100%;
        max-width: none;
    }

  
  }

