/* .container_homepage {
    max-width: 1750px;
    margin: 0 auto;
} */


/* this is what fixed that background color showing through like what was happening with the above code. Making another inner div and placing the max width on that worked. */
.container_homepage_inner {
    max-width: 1750px;
    margin: 0 auto;
}

/* hero */

.heading_app_title {
    width: 75%;
    max-width: 900px;
    margin-top: 20px;
}

.container_hero {
    text-align: center;
    margin-top: 2rem;
}

.heading_app_subheading {
    margin-bottom: 2.5rem;
}

.heading_greeting {
    text-align: center;
    margin: 3rem;
    font-size: 1.5rem;
}

/* end hero */



.heading_home_latest_posts {
    margin-bottom: 1rem;
}

/* latest posts container */


.container_home_latest_posts_outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 4rem; */
    padding-bottom: 4rem;
}

.container_home_latest_posts_inner {
    /* border: black solid 2px; */
    border-radius: 10px;
    width: 80%;
    /* padding: 20px; */
}

/* end latest posts container */