/* containers */

.container_comment_card {
    margin: 10px 0px 10px 0px;
    border: black solid 1px;
    padding: 3px 10px 10px 10px; 
    border-radius: 10px;
    background-color: rgba(96, 108, 119, 0.565);
}

.container_comment_heading {
    display: flex;
    align-items: center;
    max-height: 50px;  
}

.container_comment_date_icon {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.container_comment_edit-delete {
    display: flex;
    justify-content: right;    
}

/* end containers */


/* images and icons */

.icon_comment_arrowup {
    width: 25px;
    padding-bottom: 8px;
    height: 25px;
}

.icon_comment_bubble {
    margin-left: 10px;
    min-width: 20px;
}

.img_commentor {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    cursor: pointer;
    border: black solid 2px;
    border-radius: 50%;
}

/* end images and icons */


/* text */

.heading_comment_name {
    margin-left: 7px;
}

.text_comment_date {
    font-size:0.9rem;
}

/* end text */

/* buttons */

.btn_delete_comment {
    margin-left: 5px;
}

/* end buttons */
