.edit_form_post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    position: absolute;
    width: 100%;
}

.edit_form_post h2 {
    color: var(--text-1);
    text-shadow: var(--bxsh-loginreg-text);
    margin-bottom: 10px;
}