/* set default visibilty of new form to hidden and 0 max height, have that change when show class gets added.*/

.form_new_comment {
    visibility: hidden;
    max-height: 0;
}

.form_new_comment.show {
    visibility: visible;
    max-height: 100%;
}

.input_text_new_comment {
    padding: 8px;
    /* border: 1px solid rgba(0, 0, 0, 0.275); */
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    font-size: 0.9rem;
    margin: 10px auto;
    min-width: 300px;;
    width: 100%;
    margin-bottom: -2px;
}

