.container_profile_distance {
    display: flex;
    align-items: center;
}

.icon_loading {
    width: 40px;
    height: 40px;
    align-self: center;
}

.icon_distance {
    height: 30px;
    width: 30px;
    margin-right: 6px;
}

.text_profile_distance {
    font-style: italic;
    font-size: 0.95rem;
    font-weight: 400;

}