.container_profile_distance {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.icon_loading {
    width: 40px;
    height: 40px;
    align-self: center;
}

.icon_distance {
    height: 25px;
    width: 25px;
    margin-right: 8px;
}

.text_profile_distance {
    font-style: italic;
    font-size: 0.95rem;
    font-weight: 400;

}

.text_profile_distance_galaxy {
    font-size: 0.85rem;
}