.edit_form_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.edit_form_about h2 {
    color: var(--text-1);
    text-shadow: var(--bxsh-loginreg-text);
    margin-bottom: 10px;
}