.icon_delete_photo {
    color: #b545458e;
    font-size: 35px;
    position: absolute;
    top: -8%;
    right: 5%;
    transition: color 0.2s linear, transform 0.3s linear;
    cursor: pointer;
    font-weight: bold;

}

.icon_delete_photo:hover {
    transform: scale(1.3);
    color: #c12929d6;
    font-weight: bolder;
}

.container_profile_primary_socialwidgets_myprofile {
    margin-bottom: 10px;
}

.button_profile_sidebar_edit {
    margin: 10px 0px
}
