.icon_delete_photo {
    color: rgba(255, 255, 255, 0.761);
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 8%;
    transition: color 0.2s linear, transform 0.3s linear;
    cursor: pointer;


}

.icon_delete_photo:hover {
    transform: scale(1.3);
    color: #ffffffc7;
    font-weight: bolder;
}