.input_text_photo {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    max-height: 33px;
    font-size: 0.9rem;
    margin: 10px auto;
    min-width: 300px;;
    width: 100%;
}

.btn_submit_photo {
    margin-right: 5px;
}

/* media queries */

@media screen and (max-width: 450px) {
    .input_text_photo {
        min-width: 0px; 
    }
}

