/* grid and main container setup and specs */

.container_profile_page {
    display: grid;
    grid-template-areas:
        "primary right-sections";
    grid-template-columns: 280px auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 30px 50px;
    max-width: 1750px;
    margin: 0 auto;
    /* min-height: 100vh; */
}

.container_profile_primary {
    grid-area: primary;
    padding: 20px;
    border-radius: 25px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    box-shadow: var(--bxsh-profile-sections);

    /* get rid of this to make the primary section fill top to bottom as well */
    max-height: 975px;
}


.container_heading_profile_primary{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.container_profile_primary_socialwidgets {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 125px;
 
}

.container_primary_genre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.container_primary_instrument {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container_tags_genres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_tags_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container_subgenres_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.container_tags {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_subgenres {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_profile_primary_buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}


.heading_main_profile_sections {
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-shadow: var(--txsh-profile-headings);
   }


.container_profile_about {
    padding: 20px;
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: var(--bxsh-profile-sections)


}

.container_right_profile_sections {
    grid-area: right-sections;
    display: flex;
    flex-direction: column;
    gap: 20px;

}


.container_profile_media_outer {
    padding: 20px;
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: var(--bxsh-profile-sections);
   

}

.container_profile_media_inner {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 8px;
    

}

.container_profile_posts_outer {
    padding: 20px;
    border-radius: 25px;
    margin-right: 20px;
    box-shadow: var(--bxsh-profile-sections);


}

/* end grid setup */



/* images */

.container_img_profile_primary {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: var(--bxsh-profile-img);

}

.img_profile_primary {
    width: 150px;
    height: 150px;
    border: none;
    cursor: pointer;
    object-fit: cover;
    transition: all 0.3s linear;

}

.img_profile_primary:hover {
    transform: scale(1.07)
    
}

.container_profile_additional_img {
    min-width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin-right: 8px;
    
}

.profile_img_item {
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    transition: all 0.3s linear;
    cursor: pointer;

}

.profile_img_item:hover {
    transform: scale(1.07)
    
}

.img_profile_primary_socialwidget {
    width: 25px;
}

/* end images */


/* popup image styles */

.popup-media-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.img-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
    border-radius: 10px;
}

.icon_close_popup_media {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 50px;
    font-weight: bolder;
    z-index: 100%;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s linear;

}

.icon_close_popup_media:hover {
    transform: scale(1.1);

}

/* end popup image styles*/

/* headings and text */

.heading_profile_isBand {
    margin-bottom: 10px;
    margin-top: 5px;
}

.heading_profile_primary_location {
    margin-bottom: 2px;
    margin-top: 20px;
    text-shadow: var(--txsh-profile-location);

}

.heading_profile_primary_primary_instrument {
    font-size: 1rem;
    text-shadow: var(--txsh-profile-small-headings);
}

.heading_profile_primary_primary_genre {
    font-size: 1rem; 
    text-shadow: var(--txsh-profile-small-headings);
}

.heading_profile_primary_tags {
    font-size: 1rem; 
    text-shadow: var(--txsh-profile-small-headings);
}

.heading_profile_subgenres {
    font-size: 1rem; 
    text-shadow: var(--txsh-profile-small-headings);
}
.heading_profile_primary_name {
    text-shadow: var(--txsh-profile-headings);
}


.heading_bubbles_section {
    font-weight: 600;
    font-size: 0.9rem;
}

.tag_genre_bubble {
    text-align: center;
    min-width: 100px;
    margin-top: 8px;
    font-size: 0.8rem;
    padding: 3px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 500;
    box-shadow: var(--bxsh-profile-bubbles);
}

.text_profile_post_none {
    margin-top: 20px;
}

.text_profile_about {
    margin-top: 20px;
}



/* media queries */

@media screen and (max-width: 850px) {
    .container_profile_page {
       
        padding: 30px 30px;
  
    }

    .container_profile_primary {
        margin-left: 0;
        margin-right: 0;

    }

    .container_profile_primary {
        margin-left: 0;
        margin-right: 0;

    }

    .container_profile_about {
        margin-left: 0;
        margin-right: 0;

    }

    .container_profile_media_outer {
        margin-left: 0;
        margin-right: 0;
    }
    
    .container_profile_posts_outer {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 775px) {
   
    .container_profile_page {
        display: flex;
        flex-direction: column;  
    }
    
    
  }

  @media screen and (max-width: 450px) {
    .container_tags_genres {
        flex-direction: column;
        width: 100%;
        gap: 0px;
    }


  }

  
