/* flex setup and basic container layout */

.container_all_profiles_and_search {
}

.container_allProfiles {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.container_profile_card {
    display: flex;
    justify-content: space-between;
    border: black solid 2px;
    border-radius: 20px;
    margin: 10px;

}

.img_profileCard {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-self: center;
    margin-left: 10px;
    border: solid black 2px;
}