/* flex setup and basic container layout */

.container_all_profiles_and_search {
    padding: 30px 60px;
    max-width: 1750px;
    margin: 0 auto;
}

.container_allProfiles {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;

}

.container_profile_card {
    display: grid;
    min-width: 660px;
    grid-template-areas: 
    'image header genre tags save';
    grid-template-columns: 150px 1fr 0.7fr 1fr 50px;
    border-radius: 20px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    box-shadow: var(--bxsh-profileall-card);
}


.container_loading_screen_all_profiles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    font-size: 1.8rem;
    text-align: center;
}

.img_profileCard {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-self: center;
    margin-left: 10px;
    /* border: solid black 2px; */
    object-fit: cover;
    box-shadow: var(--bxsh-profileall-img);

    
}

/* .tag_genre_bubble_allprof {
    text-align: center;
    min-width: 100px;
    margin-top: 8px;
    font-size: 0.8rem;
    padding: 3px 15px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 500;
} */

.profile_card_location {
    font-weight: 500;
    font-size: 1rem;
    text-shadow: var(--txsh-allprofiles);

}

.profile_card_instrument,
.profile_card_bandnote {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 7px;
}

.text_profile_distance_allprof {
    font-size: .9rem;
}

.icon_distance_allprof {
    width: 19px;
    min-width: 17px;
    min-height: 19px;
    margin-top: 3px;
}

.profileall_link {
    width: fit-content;
}

.profile_card_name {
    text-shadow: var(--txsh-allprofiles);
}

.profile_card_genre {
    text-shadow: var(--txsh-allprofiles);
    margin-bottom: 2px;
}

.profile_card_tags {
    text-shadow: var(--txsh-allprofiles);
    margin-bottom: 2px;
}

.icon_loading_big {
    margin: 0 auto;
}

.loading_text {
    animation: textPulseAnimation 2.5s infinite;
}

@keyframes textPulseAnimation {
    0%, 100% {
      color: rgba(209, 207, 207, 0.747); 
      text-shadow: 0px 0px 5px rgba(131, 111, 111, 0.72);
    }
    50% {
      color: var(--text-1); 
      text-shadow: 0px 0px 20px rgba(131, 111, 111, 0.837);

    }
  }
  

/* media queries */

@media screen and (max-width: 900px) {
 
    .container_profile_card {
        min-width: 0;
        grid-template-areas: 
        'image header genre'
        'tags'
        ;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 800px) {
    .container_profile_card {
        min-width: 0;
        grid-template-areas: 
        'image header tags'
        ;
        grid-template-columns: 150px 1.5fr 1fr;
    }
 
    .container_profile_card_primarygenre {
        display: none;
    }

    .img_profileCard {
        width: 75px;
        height: 75px;
        margin-left: 5px;
    }
}

@media screen and (max-width: 585px) {
    .container_profile_card {
        grid-template-areas: 
        'image header'
        ;
        grid-template-columns: 100px 1fr;
    }
 
    .container_profile_card_tags {
        display: none;
    }
}

@media screen and (max-width: 585px) {
    .container_profile_card {
        grid-template-columns: 1.2fr 2fr;
        font-size: small;
    }
    .img_profileCard {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 500px) {
    .container_profile_card {
        grid-template-columns: 1fr 1.5fr;
        font-size: small;
    }
    .img_profileCard {
        width: 50px;
        height: 50px;
    }
}

