/* flex setup and basic container layout */

.container_all_profiles_and_search {
    padding: 30px 60px;
    max-width: 1750px;
    margin: 0 auto;

}

.container_allProfiles {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    /* padding: 20px 50px; */

}

.container_profile_card {
    display: grid;
    min-width: 660px;
    grid-template-areas: 
    'image header genre tags save';
    grid-template-columns: 150px 1fr 0.7fr 1fr 50px;
    /* display: flex;
    justify-content: space-between; */
    /* border: black solid 2px; */
    border-radius: 20px;
    margin: 0px 0px 10px 0px;
    padding: 10px;
    /* background-color: #a9abb1; */
    box-shadow: var(--bxsh-profileall-card);
}

.container_profile_card:nth-child(even) {
    /* background-color: #b5b9c6; */

}

.img_profileCard {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    align-self: center;
    margin-left: 10px;
    /* border: solid black 2px; */
    object-fit: cover;
    box-shadow: var(--bxsh-profileall-img);

    
}

.tag_genre_bubble_allprof {
    text-align: center;
    min-width: 100px;
    margin-top: 8px;
    font-size: 0.8rem;
    /* border: solid black 1px; */
    padding: 3px 15px;
    border-radius: 20px;
    /* background-color: #a9abb1; */
    font-size: 0.8rem;
    font-weight: 500;
}

.profileall_link {
    width: fit-content;
}