/* Searchbar icons */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* main container */

.container_search_filter_all_profiles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: solid black 2px;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    min-width: 660px;
    background-color: rgb(113, 143, 170);

}

/* search bar */

.search-bar-container.allprofiles {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    position: relative;
}

.input-wrapper-allprofiles {
    background-color: #ffffff;
    width: 100%;
    border-radius: 5px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
    /* display: flex;
    align-items: center; */

}

.input_searchbar_allprofiles {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 1.15rem;
    margin-left: 10px;
}

.input_searchbar_allprofiles:focus {
    outline: none;
}

.search-icon.allprofiles {
    color: black;
}

/* end searchbar */