/* containers */

.container_messages_sidebar {
    position: fixed;
    width: 35%;
    min-width: 350px;
    max-width: 475px;
    height: 100vh;
    right: -100%;
    transition: right linear 850ms;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 99;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    overflow-y: auto;
    box-shadow: var(--bxsh-message-sidebar);

}

.container_messages_sidebar.active {
    right: 0;
    transition: all ease-out 0.5s;
}

.container_messages_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 10px;
    min-width: 90%;
    margin-bottom: 20px;

}

.container_messages_heading_close {
    display: flex;

}

.container_messages_new_button {
    display: flex;
    justify-content: end;
}

.container_messages_new {
    display: flex;
    justify-content: center;
    width: 90%;
}

/* end containers */




/* icons and imgs */

.icon_messages_close {
    font-size: 27px;
    font-weight: 400;
    margin-right: 10px;
    margin-left: -5px;
    font-family: Arial, Helvetica, sans-serif;

}

/* end icons and imgs */


.icon_messages_close:hover {
    cursor: pointer;
    
}

.icon_loading_messages {
    margin: 15px auto 20px auto;
    width: 20%;
}

/* headings and text */

.heading_messages {
    margin-left: 10px;
}

/* end headings and text */


/* buttons */

.button_messages_new {
    margin-left: 20px;
}

/* end buttons */


/* johhny button */

.container_messages_johnny_button {
    margin: 15px auto;
    width: 80%;
    border: var(--border-2-thin);
    border-radius: 10px;
    padding: 20px;
    box-shadow: var(--bxsh-message-sender);
    background: var(--bg-sidebar-msg-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container_messages_johnny_button_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.text_messages_johnny_button_1 {
    font-weight: bold;
    text-shadow: var(--txsh-johnny-button);
}

.johnny_profile_link {
    transition: all 0.2s;
    font-weight: bold;
}

.johnny_profile_link:hover {
    cursor: pointer;
    color: var(--link-hover);
}

.johnny_profile_link:active {
    color: var(--link-active);
}

/* end johhny button */
