/* containers */

.container_message_card {
    padding: 10px;
    margin: 15px;
    /* border: 1px solid black; */
    border-radius: 15px;
    width: 75%;
}

.container_message_heading {
    display: flex;
    align-items: center;
}

.container_message_card_sender {
    margin-right: auto;
    position: relative;
    /* background-color: rgba(84, 116, 176, 0.639); */
    box-shadow: var(--bxsh-message-sender);

}

.container_message_card_receiver {
    margin-left: auto;
    position: relative;
    /* background-color: rgba(97, 96, 158, 0.601); */
    box-shadow: var(--bxsh-message-receiver)

}

.container_message_buttons {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: start;
}

.heading_message_tofrom {
    display: flex;
}

/* end containers */


/* icons/images */

.icon_message_arrowleft {
    position: absolute;
    top: 47%;
    left: -50px;
    font-size: 40px;
}

.icon_message_arrowright {
    position: absolute;
    top: 47%;
    right: -50px;
    font-size: 40px;
}

.img_message {
    width: 30px;
    height: 30px;
    /* border: 2px solid black; */
    border-radius: 50%;
}

/* end icons/images */


/* headings/text */

.heading_message_tofrom {
    font-size: 0.9rem;
    margin-right: 5px;
}

.heading_message_date{
    margin: 5px 0 6px 0px;
    font-weight: 600;
}

.message_nameLink {
    /* controls space between message name and to/from */
    margin-left: 4px;
}

/* end headings/text */


/* buttons */

.btn_message_delete {
    margin-right: 5px;
}

/* end buttons */
