/* containers */

.form_new_message {
    width: 90%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.container_buttons_messages_new {
    margin-bottom: 30px;
    margin-top: -15px;
    width: 100%;
    display: flex;
    justify-content: start;
}

/* end containers */


/* inputs */

.input_text_message {
    display: block;
    width: 110%;
    margin-left: 2px;
    margin-right: auto;
    border-radius: 5px;
    padding: 10px;
}

.input_select_message {
    display: block;
    width: 110%;
    margin-top: 10px;
    margin-left: 2px;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    padding: 5px;

}

/* end inputs */


/* buttons */

.btn_submit_message {
    margin-right: 5px;
}

/* end buttons */
