.waves {
    aspect-ratio: 2560/1440;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../images/svg/layered-waves-vampire.svg');

}
