.waves-home {
    aspect-ratio: 2560/1440;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../images/svg/layered-waves-vampire.svg');

}

.waves-login {
    aspect-ratio: 2560/1440;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../images/svg/layered-waves-login.svg');

}

.waves-reguser {
    aspect-ratio: 2560/1440;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../images/svg/layered-waves-reguser.svg');;

}

.waves-regprofile {
    aspect-ratio: 2560/1440;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../images/svg/layered-waves-regprofile.svg');;

}

.waves-regtags {
    aspect-ratio: 2560/1440;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../images/svg/layered-waves-regtags.svg');;

}

.waves-reggenres {
    aspect-ratio: 2560/1440;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-image: url('../images/svg/layered-waves-reggenres.svg');;

}
