/* variables */

:root {

    /* colors */
    --text-1: #D9D6D2;
    --text-2: #001220;
    --icons: #001220;
    --bg-nav: #8C4A4A;
    --bg-main-solid-1: #1D2625;
    --bg-main-solid-2: #1D2625;
    --bg-main-solid-3: #D9D6D2;
    --bg-main-gradient-1: linear-gradient(49deg, rgba(132, 73, 73, 0.666) 21%, rgba(125, 90, 90, 0.642) 48%, rgba(147, 98, 97, 0.614) 68%);
    --bg-main-gradient-2: linear-gradient(49deg, rgba(29, 38, 37, 1) 13%, rgba(37, 46, 45, 1) 46%, rgba(48, 58, 56, 1) 76%, rgba(71, 81, 79, 1) 100%);
    --bg-profiles-sections: linear-gradient(49deg, rgba(140, 74, 74, 1) 21%, rgba(185, 114, 113, 0.8) 48%, rgba(174, 104, 103, 1) 68%);
    --bg-profilesall-card-1: #602d2db4;
    --bg-profilesall-card-2: #8c4a4acf;
    --bg-profilesall-search: linear-gradient(49deg, rgba(132, 73, 73, 0.905) 21%, rgba(125, 90, 90, 0.84) 48%, rgba(147, 98, 97, 0.769) 68%);
    --bg-post: #4f5957d7;
    --bg-comment: #2d3736c6;
    --bg-bubble-tags: #4F5957;
    --bg-sidebar: linear-gradient(49deg, rgba(29, 38, 37, 0.851) 20%, rgba(51, 61, 59, 0.872) 50%, rgba(79, 89, 87, 0.911) 78%);
    --bg-sidebar-header: #602d2dd4;
    --bg-sidebar-msg-1: #8C4A4A;
    --bg-sidebar-msg-2: #602d2dd4;
    --bg-buttons-pro: linear-gradient(to bottom, #d9d6d2 5%, #c3c0bd 100%);
    --bg-buttons-pro-hover: linear-gradient(to bottom, #c3c0bd 5%, #d9d6d2 100%);
    --bg-buttons-pro-active: linear-gradient(to bottom, #bab7b4 5%, #aeaca8 100%);
    --bg-buttons-cmt-mes: linear-gradient(to bottom, #d9d6d2 5%, #c3c0bd 100%);
    --bg-buttons-cmt-mes-hover: linear-gradient(to bottom, #c3c0bd 5%, #d9d6d2 100%);
    --bg-buttons-cmt-mes-active: linear-gradient(to bottom, #bab7b4 5%, #aeaca8 100%);
    --bg-buttons-saved: linear-gradient(to bottom, #9d5d5c 5%, #5b2929 100%);
    --bg-buttons-saved-hover: linear-gradient(to bottom, #683131 5%, rgb(119, 70, 69) 100%);
    --bg-buttons-saved-active: linear-gradient(to bottom, #5d2c2c 5%, rgb(82, 36, 35) 100%);
    --text-buttons-pro: #001220;
    --text-buttons-cmt-mes: #001220;
    --bg-input: #D9D6D2;
    --text-input: #0D0D0B;
    --link-hover: #b3afaf;
    --link-active: #8d8d8d;
    --nav-active: #1D2625;
    --bg-dropdown-nav: linear-gradient(49deg, rgba(27, 34, 33, 0.851) 20%, rgba(34, 39, 38, 0.924) 50%, rgba(51, 58, 57, 0.911) 78%);
    --bg-dropdown-nav-hover: #602d2db4;
    --nav-dropdown-links-active: #8d8d8d;
    --nav-dropdown-links-active-choice: #f1cccc;
    --bg-viewhide-comments:  linear-gradient(0deg, rgba(52,61,60,1) 3%, rgba(79,89,87,1) 60%);
    --bg-viewhide-comments-hover: linear-gradient(0deg, rgba(79,89,87,1) 60%, rgba(52,61,60,1) 96%);
    --bg-viewhide-comments-active: linear-gradient(0deg, rgb(65, 73, 72) 60%, rgb(44, 52, 51) 96%);
    /* --bg-button-modal-cancel: #4F5957; */
    --bg-buttons-modal-cancel: linear-gradient(0deg, rgba(52,61,60,1) 16%, rgba(79,89,87,1) 60%);
    --bg-buttons-modal-cancel-hover: linear-gradient(180deg, rgba(52,61,60,1) 16%, rgba(79,89,87,1) 60%);
    --bg-buttons-modal-cancel-active: linear-gradient(180deg, rgb(45, 53, 52) 16%, rgb(69, 79, 77)60%);
    --bg-buttons-modal-delete: linear-gradient(to bottom, #9d5d5c 5%, #5b2929 100%);
    --bg-buttons-modal-delete-hover: linear-gradient(to bottom, #683131 5%, rgb(119, 70, 69) 100%);
    --bg-buttons-modal-delete-active: linear-gradient(to bottom, #5d2c2c 5%, rgb(82, 36, 35) 100%);


    /* borders and border colors */
    --border-1-thick: #D9D6D2 solid 2px;
    --border-1-thin: #D9D6D2 solid 1px;
    --border-2-thick: #0D0D0B solid 2px;
    --border-2-thin: #0D0D0B solid 1px;
    --border-img-popup: #D9D6D2 solid 3px;
    --border-buttons-pro: #0D0D0B solid 1px;
    --border-buttons-cmt-mes: #0D0D0B solid 2px;


    /* boxshadow and textshadow variables */
    --bxsh-loginreg-text: 4px 4px 8px rgba(0, 0, 0, 0.683);
    --bxsh-home-text: 4px 4px 4px rgba(0, 0, 0, 0.289);
    --bxsh-home-latestposts: 6px 6px 15px rgba(30, 30, 30, 0.742);
    --bxsh-profileall-card: 4px 4px 5px rgba(30, 30, 30, 0.698);
    --bxsh-profileall-img: 4px 4px 5px rgba(30, 30, 30, 0.698);
    --bxsh-profileall-search: 4px 4px 5px rgba(30, 30, 30, 0.698);
    --bxsh-profile-img: 1px 1px 20px rgba(30, 30, 30, 0.698);
    --bxsh-profile-sections: 8px 12px 8px rgba(30, 30, 30, 0.824);
    --txsh-profile-headings: 5px 5px 7px rgba(0, 0, 0, 0.514);
    --txsh-profile-small-headings: 2px 3px 3px rgba(0, 0, 0, 0.514);
    --txsh-profile-location: 3px 4px 4px rgba(0, 0, 0, 0.514);
    --bxsh-profile-bubbles: 5px 5px 5px rgba(0, 0, 0, 0.451);
    --bxsh-post-container: 5px 5px 8px rgba(0, 0, 0, 0.422);
    --bxsh-comment-container: 5px 5px 8px rgba(0, 0, 0, 0.422);
    --bxsh-post-img: 3px 3px 3px rgba(0, 0, 0, 0.422);
    --bxsh-message-sender: 5px 5px 5px hsla(0, 0%, 0%, 0.300);
    --bxsh-message-receiver: -5px 5px 5px hsla(0, 0%, 0%, 0.300);
    --bxsh-message-sidebar: -13px 0px 15px rgba(0, 0, 0, 0.61);
    --bxsh-nav: 0px 1px 15px rgba(0, 0, 0, 0.61);
    --bxsh-navbar-img: 3px 3px 3px rgba(30, 30, 30, 0.395);
    --bxsh-button: 3px 3px 3px rgba(0, 0, 0, 0.326);
    --bxsh-button-saved: 3px 3px 5px rgba(0, 0, 0, 0.326);
    --txsh-allprofiles: 3px 3px 3px rgba(0, 0, 0, 0.321);
}


/* other stuff */

/* image pop up otherprofile */

.popup-media-container {
    background: rgba(0, 0, 0, 0.8);
}

.img-popup {
    border: var(--border-img-popup)
}

.icon_close_popup_media {
    color: var(--text-1)
}

.icon_close_popup_media:hover {
    color: #cbcbcb;
}

/* myprofile delete photo */

.icon_delete_photo {
    color: #a23831b3;
}

.icon_delete_photo:hover {
    color: #b14444;
}


/* hover colors for links */

a:hover {
    color: var(--link-hover)
}

.nav_list_item:hover {
    color: var(--link-hover)
}

.post_home_name:hover {
    color: var(--link-hover)
}

.profile_card_name:hover {
    color: var(--link-hover)
}

.icon_messages_close:hover {
    color: var(--link-hover)
}

.nav-dropdown-links:hover {
    --link-hover: #b3afaf;
}

/* active colors for links */

a:active {
    color: var(--link-active)
}

.nav_list_item:active {
    color: var(--link-active)
}

.nav-dropdown-links:active {
    color: var(--nav-dropdown-links-active)
}

.post_home_name:active {
    color: var(--link-active)
}

.profile_card_name:active {
    color: var(--link-active)
}

.icon_messages_close:active {
    color: var(--link-active)
}


/* color for active nav selection */

a.active {
    color: var(--nav-active);
}

a.active.nav-dropdown-links {
    color: var(--nav-dropdown-links-active-choice);
}

.nav_list_item_message_active {
    color: var(--nav-active)
}



/* text and background colors */


/* buttons */

.button_profile_colors {
    color: var(--text-buttons-cmt-mes);
    background: var(--bg-buttons-cmt-mes);
    border: var(--border-buttons-cmt-mes);
}

.button_cmt_msg_colors {
    color: var(--text-buttons-cmt-mes);
    background: var(--bg-buttons-cmt-mes);
    border: var(--border-buttons-cmt-mes);
}

/* saved button profile */

.button_profile_primary_saved {
    color: var(--text-1);
    background: var(--bg-buttons-saved)
}



* {
    color: var(--text-1)
}

body {
    background: var(--bg-main-solid-2)
}

/* otherprofile */

.container_profile_page {
    /* background: var(--bg-main-gradient-2) */

}

.container_profile_primary {
    background: var(--bg-profiles-sections)
}

.container_profile_about {
    background: var(--bg-profiles-sections)
}

.container_profile_media_outer {
    background: var(--bg-profiles-sections)
}

.container_profile_posts_outer {
    background: var(--bg-profiles-sections)
}

.tag_genre_bubble {
    background: var(--bg-bubble-tags)
}

/* profile all list */

.container_all_profiles_and_search {
    /* background: var(--bg-main-gradient-2) */

}

.container_profile_card {
    background: var(--bg-profilesall-card-1)
}

.container_profile_card:nth-child(even) {
    background: var(--bg-profilesall-card-2)
}

.tag_genre_bubble_allprof {
    background: var(--bg-bubble-tags)
}

/* search filter all profiles */

.container_search_filter_all_profiles {
    background: var(--bg-profilesall-search)
}

/* homepage */

.container_home_latest_posts_inner {
    background: var(--bg-main-gradient-1)
}

/* post  */

.container_post {
    background: var(--bg-post)
}

/* comment */
.container_comment_card {
    background: var(--bg-comment)
}

/* nav */

.container_nav {
    background: var(--bg-nav);
    box-shadow: var(--bxsh-nav);

}

/* messages sidebar */

.container_messages_sidebar {
    background: var(--bg-sidebar)
}

.container_messages_header {
    background: var(--bg-sidebar-header)
}

/* message */
.container_message_card_sender {
    background: var(--bg-sidebar-msg-1)
}

.container_message_card_receiver {
    background: var(--bg-sidebar-msg-2)
}

/* inputs */

.input_field_colors {
    background: var(--bg-input);
    color: var(--text-input);
}




/* borders */

/* Other profile */

.heading_main_profile_sections {
    border-bottom: var(--border-2-thin)
}

.container_profile_primary {
    border: var(--border-2-thick)
}

.container_profile_about {
    border: var(--border-2-thick)
}

.container_profile_media_outer {
    border: var(--border-2-thick)
}

.container_profile_posts_outer {
    border: var(--border-2-thick)
}

.container_img_profile_primary {
    border: var(--border-2-thick)
}

.container_profile_additional_img {
    border: var(--border-2-thick)
}

.tag_genre_bubble {
    border: var(--border-2-thin)
}

/* profile all list */

.container_profile_card {
    border: var(--border-2-thick)
}

.tag_genre_bubble_allprof {
    border: var(--border-2-thick)
}

.img_profileCard {
    border: var(--border-2-thick)
}


/* search filter all profiles */

.input_allprofiles {
    border: var(--border-2-thin)
}

.container_search_filter_all_profiles {
    border: var(--border-2-thick)
}

/* new photo */

.input_text_photo {
    border: var(--border-2-thin)
}

/* posts */

.container_post {
    border: var(--border-2-thick)
}

.img_post_picture {
    border: var(--border-2-thick)
}

/* new post */

.input_text_post {
    border: var(--border-2-thin)
}

/* comment */
.container_comment_card {
    border: var(--border-2-thin)
}

.img_commentor {
    border: var(--border-2-thick)
}

/* new comment */

.input_text_new_comment {
    border: var(--border-2-thin)
}

/* nav */
.container_nav {
    border-bottom: var(--border-2-thick)
}

/* messages sidebar */

.container_messages_sidebar {
    border-left: var(--border-2-thick)
}

.container_messages_header {
    border-bottom: var(--border-2-thick)
}

/* messages sort filter */

.input_messages {
    border: var(--border-2-thin)
}

/* message */

.container_message_card {
    border: var(--border-2-thin)
}

.img_message {
    border: var(--border-2-thick)
}

/* homepage */

.container_home_latest_posts_inner {
    border: var(--border-2-thick)
}

.heading_greeting {
    color: var(--text-1);
}


/* transitions */

a {
    transition: 0.15s;
}

.nav_list_item {
    transition: 0.15s;
}

.post_home_name {
    transition: 0.15s;
}

.profile_card_name {
    transition: 0.15s;
}

.icon_messages_close:hover {
    transition: 0.15s;
}



/* button styles */

button {
    box-shadow: var(--bxsh-button);
    background: var(--bg-buttons-pro);
    border-radius: 6px;
    border: var(--border-buttons-cmt-mes);
    display: inline-block;
    cursor: pointer;
    color: var(--text-buttons-pro);
    font-weight: 600;
    padding: 4px 7px;
    min-width: 80px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
}

button:hover {
    background: var(--bg-buttons-pro-hover);
}

button:active {
    background: var(--bg-buttons-pro-active);
    position: relative;
    top: 1px;
    background-color: #d9d6d2;
}


/* saved button profile */

button.button_profile_primary_saved {
    box-shadow: var(--bxsh-button-saved);
    background: var(--bg-buttons-saved);
    border-radius: 6px;
    border: var(--border-buttons-cmt-mes);
    display: inline-block;
    cursor: pointer;
    color: var(--text-1);
    font-weight: 600;
    padding: 4px 7px;
    min-width: 80px;
    text-decoration: none;
    text-shadow: none;
}

button.button_profile_primary_saved:hover {
    background: var(--bg-buttons-saved-hover);
}

button.button_profile_primary_saved:active {
    background: var(--bg-buttons-saved-active);
    position: relative;
    top: 1px;
}