@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@keyframes slideinleft {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0);
    }
  }

@keyframes slideinright {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes fadein {
    0% {
        transform: translatey(400px);
        opacity: 0%;
      }
      100% {
        transform: translatey(0);
        opacity: 100%;
      }
}