img.logo {
    margin-left: 15px;
    width: 60px;
    border: none;
    animation: rotate 20s linear infinite;
}

.container_nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /* border-bottom: 2px black solid; */
    height: 100px;
    position: fixed;
    width: 100%;
    /* background-color: rgb(122, 157, 174); */
    z-index: 100;
    top: 0
}

.nav_list {
    margin-right: 15px;
    display: flex;
    justify-content: space-evenly;

}

.nav_list_item {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.2s;
}

.nav_list_item:hover {
    cursor: pointer;
}


/* new mail positioning */

.nav_list_item_with_new_mail {
    display: flex;
    align-items: center;
    position: relative;
}

.icon_newmail {
    margin-left: 5px;
}

.newmail_count {
    position: absolute;
    top: 4px;
    right: -1px;
    font-size: 11px;
    font-weight: 700;
    color: var(--text-1);
    background-color: var(--bg-main-solid-2);
    border: var(--border-2-thick);
    padding: 0 6px;
    border-radius: 50%;
}


/* media queries */

@media screen and (max-width: 960px) {
    .newmail_count {
        top: 10px;
        right: 57px;
        padding: 0 8px;

        
    }
}