img.logo {
    width: 75px;
    border: none;
}

.container_nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    /* border-bottom: 2px black solid; */
    height: 100px;
    position: fixed;
    width: 100%;
    /* background-color: rgb(122, 157, 174); */
    z-index: 100;
    top: 0
}

.nav_list {
    display: flex;
    justify-content: space-evenly;
}

.nav_list_item {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    align-self: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav_list_item:hover {
    text-decoration: underline;
    cursor: pointer;
}

a {
    align-self: center;
}