img.logo {
    width: 75px;
    border: none;
}

.container_nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 2px black solid;
    /* position: fixed;
    width: 100%;
    background-color: blanchedalmond;
    z-index: 100; */
}

.nav_list {
    display: flex;
    justify-content: space-evenly;
}

.nav_list_item {
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    align-self: center;
    
}

a {
    align-self: center;
}