.nav-dropdown {
    position: fixed;
    right: 0;
    width: 35%;
    min-width: 350px;
    max-width: 475px;
    background: var(--bg-dropdown-nav);
    height: 100vh;
    margin-top: 94px;
    transition: all ease-in-out 0.7s;
    right: -100%;
    z-index: 100;
    border: var(--border-2-thick);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-y: auto;
    box-shadow: var(--bxsh-message-sidebar);
}

.nav-dropdown-icon {
    display: none;
    font-size: 45px;
    margin-right: 15px;
    margin-top: 10px;
    align-self: center;
}

.nav-dropdown.active {
    display: block;
    right: 0;
}

.dropdown-item {
    display: flex;
    justify-content: center;
}

.dropdown-item:hover {
    background: var(--bg-dropdown-nav-hover);
}

.nav-dropdown-links {
    font-size: 30px;
    margin-top: 10px;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
    align-self: center;
    font-weight: 500;
    transition: 0.2s;
}

.nav-dropdown-links:hover {
    cursor: pointer;
    color: var(--text-1);
}

/* media queries */

@media screen and (max-width: 960px) {
   .nav-dropdown {
    display: block;
   }

   .nav-dropdown-icon {
    display: block;
   }

   .nav_list {
    display: none;
   }
  }

  @media screen and (min-width: 960px) {
    .nav-dropdown.active {
     display: none;
    }
   }

