.container_all_login_content {
    position: relative;
}

.container_hero_login {
    padding-top: 100px;
    padding-bottom: 50px;
    position: absolute;
    width: 100%;
    overflow-x: hidden;


}

.container--login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 400px;

}


.container--login h2 {
    color: var(--text-1);
    text-shadow: var(--bxsh-loginreg-text);
    margin-bottom: 10px;
}

.form--login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   

}

.input_login {
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    font-size: 1rem;
    margin: 5px auto;
    width: 30%;
    min-width: 400px;
}

.section--register {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
   
}

.button-loginreg {
    margin-top: 5px;
}

/* media queries */

@media screen and (max-width: 500px) {
    
    .input_login {
        width: 30%;
        min-width: 300px;
    }

    .container--login {
        top: 275px;
    }

    .container_hero_login {
        padding-top: 30px; 
    }


}